<div class="dashboard-content">
	<div class="row mt-3">
		<div class="col-lg-12">
			<div id="add-listing">
				<!-- Section -->
				<div class="add-listing-section mb-4">
					<!-- Headline -->
					<div class="add-listing-headline">
						<h3>Basic Informations</h3>
					</div>
					<!-- Title -->
					<div class="row with-forms">
						<div class="col-md-12">
							<label class="ml-1">Title</label>
							<div class="form-group">
								<input type="text" class="form-control form-control-alternative" [(ngModel)]="filmToSave.title">
							</div>
						</div>
					</div>
					<!-- Description -->
					<div class="row with-forms">
						<div class="col-md-12">
							<div class="form-group">
								<label class="ml-1">Description</label>
								<textarea class="form-control form-control-alternative" rows="3" [(ngModel)]="filmToSave.description"></textarea>
							</div>
						</div>
					</div>
					<!-- Type -->
					<div class="row with-forms" *ngIf="types">
						<div class="col-md-12">
							<label class="ml-1">Type</label>
							<select class="custom-select form-control-alternative mb-3" [(ngModel)]="filmToSave.typeId" name="type">
								<option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
							</select>
						</div>
					</div>
					<!-- Country -->					
					<div class="row with-forms" *ngIf="countries">
						<div class="col-md-12">							
							<label class="ml-1">Country</label>
							<ng-select 
								[items]="countries"
								class="custom-select form-control-alternative mt-3"
								bindLabel="name"
								bindValue="id"
								[(ngModel)]="filmToSave.countryId">
							</ng-select>
						</div>
					</div>
					<!-- Language -->
					<div class="row with-forms" *ngIf="languages">
						<div class="col-md-12">
							<label class="ml-1">Language</label>
							<ng-select 
								[items]="languages"
								class="custom-select form-control-alternative mt-3"
								bindLabel="name"
								bindValue="id"
								[(ngModel)]="filmToSave.languageId">
							</ng-select>
						</div>
					</div>
					<!-- Genres -->
					<div class="row with-forms" *ngIf="genres">
						<div class="col-md-12">
							<label class="ml-1">Genre</label>
							<select multiple class="custom-select form-control-alternative mb-3" [(ngModel)]="filmToSave.genreIds" name="genre">
								<option *ngFor="let genre of genres" [ngValue]="genre.id">{{genre.name}}</option>
							</select>
						</div>
					</div>
					<!-- Year -->
					<div class="row with-forms">
						<div class="col-md-12">
							<label class="ml-1">Year</label>
							<div class="form-group">
								<input type="text" class="form-control form-control-alternative" [(ngModel)]="filmToSave.year">
							</div>
						</div>
					</div>
					<!-- Duration -->
					<div class="row with-forms">
						<div class="col-md-12">
							<label class="ml-1">Duration</label>
							<div class="form-group">
								<input type="text" class="form-control form-control-alternative" [(ngModel)]="filmToSave.duration">
							</div>
						</div>
					</div>
					<!-- Participants -->
					<div class="row with-forms" *ngFor="let participant of filmToSave.participantsRoles; let i = index">
						<div class="col-md-5">
							<label *ngIf="i == 0" class="ml-1">Person</label>
							<ng-select 
								[items]="persons"
								class="custom-select form-control-alternative mt-3"
								bindLabel="name"
								bindValue="id"
								[(ngModel)]="filmToSave.participantsRoles[i].participantId">
							</ng-select>
						</div>
						<div class="col-md-5">
							<label *ngIf="i == 0" class="ml-1">Role</label>
							<ng-select 
								[items]="filmRoles"
								class="custom-select form-control-alternative mt-3"
								bindLabel="name"
								bindValue="id"
								[(ngModel)]="filmToSave.participantsRoles[i].roleId">
							</ng-select>
						</div>
						<div style="padding-top: 50px;" class="col-md-1" *ngIf="i == 0">
							<button class="btn btn-primary" (click)="addEmptyParticipant()">Add</button>
						</div>
						<div style="padding-top: 16px;" class="col-md-1" *ngIf="i > 0">
							<button class="btn btn-primary" (click)="addEmptyParticipant()">Add</button>
						</div>
						<div style="padding-top: 50px;" class="col-md-1" *ngIf="i == 0">
							<button 
								class="btn btn-danger" 
								(click)="removeParticipant(i)" 
								[disabled]="filmToSave.participantsRoles.length == 1"
							>Remove
							</button>
						</div>
						<div style="padding-top: 16px;" class="col-md-1" *ngIf="i > 0">
							<button 
								class="btn btn-danger" 
								(click)="removeParticipant(i)" 
								[disabled]="filmToSave.participantsRoles.length == 1"
							>Remove
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="film && film['id']">
		<div class="col-lg-12">
			<div id="add-listing">
				<!-- Section -->
				<div class="add-listing-section mb-4">
					<!-- Headline -->
					<div class="add-listing-headline">
						<h3>Photos</h3>
					</div>
					<!-- Photos -->
					<app-photo-editor [entityTypeId]="entityTypeId" [entityId]="film['id']" [photos]="filmToSave.photos"></app-photo-editor>					
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12">
			<button 
				class="btn btn-primary" 
				type="button" 
				[disabled]="!filmToSave.title||!filmToSave.description||!filmToSave.year||!filmToSave.duration||!filmToSave.typeId||!filmToSave.countryId||!filmToSave.languageId||filmToSave.genreIds.length == 0||!areParticipantsValid()"
				(click)="save()"
			>Save
			</button>
			<button 
				class="btn btn-secondary"
				type="button"
				[routerLink]="['/admin/film-list']"
			>Cancel
			</button>
		</div>
	</div>
</div>