<br>
<br>
<div class="main-wrapper" *ngIf="watchlist">
	<!-- Content -->
	<div id="content">
		<div class="container">
			<div class="profile-page">
				<div class="card card-profile shadow">
					<div class="px-4">
						<div class="row justify-content-center">
							<div class="col-lg-3 order-lg-2">
								<div class="card-profile-image">
									<a href="#">
										<img *ngIf="watchlist.mainPhoto" src="{{watchlist.mainPhoto.url}}" class="rounded-circle">
										<img *ngIf="!watchlist.mainPhoto" src="/assets/images/image-not-found2.jpg" class="rounded-circle">
									</a>
								</div>
							</div>	
							<div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
								<div class="card-profile-actions py-4 mt-lg-0">
								</div>
							</div>						
							<div class="col-lg-4 order-lg-1">
								<div class="card-profile-stats d-flex justify-content-center"></div>
							</div>
						</div>
						<br>
						<br>
						<div class="text-center mt-5">
							<h3>{{watchlist.title}}</h3>
							<div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{watchlist.description}}</div>
						</div>
						<hr>
						<br>
						<app-image-slider *ngIf="imageObject" [imageObject]="imageObject"></app-image-slider>
						<hr *ngIf="imageObject">
					</div>
					<h3 style="text-align: center;">Films</h3>
					<div class="row mt-5 pl-5 list-img-wrap" *ngFor="let film of watchlist.films">
						<div class="col-md-2 list-img">
							<img class="img-fluid rounded-circle shadow-lg" style="height: 130px;"
								[src]="film.mainPhoto != null ? film.mainPhoto.url : ''">
						</div>
						<div class="col-md-10">
							<h5 style="cursor: pointer;" [routerLink]="['/film', film.id]"
								routerLinkActive="router-link-active" class="text-primary">
								{{film.title}}
								<i 
									*ngIf="film.isWatched"
									style="color: green;" 
									class="fa fa-check ml-2" 
									title="Film is watched!"
								></i>
							</h5>
							<p class="text-muted">{{film.description}}</p>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
<br>