<div class="main-wrapper mt-5">
	<!-- Content -->
	<div class="content pt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-8 padding-right-30">
					<!-- Sorting / Layout Switcher / End -->
					<div class="row">
						<!-- Listing Item -->
						<div class="col-lg-12 col-md-12" *ngFor="let watchlist of watchlists">
							<!-- TODO: MOVE STYLE TO CSS -->
							<div class="listing-item-container list-layout mb-4" style="cursor: pointer;"
								[routerLink]="['/watchlist', watchlist.id]">
								<div class="listing-item">
									<!-- Image -->
									<div class="listing-item-image">
										<img *ngIf="watchlist.mainPhoto" src="{{watchlist.mainPhoto.url}}" height="100%">
										<img *ngIf="!watchlist.mainPhoto" src="/assets/images/image-not-found.jpg" height="100%">
									</div>
									<!-- Content -->
									<div class="listing-item-content">
										<div class="listing-item-inner">											
											<h3>{{watchlist.title}}</h3>											
											<span> <small>{{watchlist.description}}</small> </span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Listing Item / End -->
					</div>
					<!-- Pagination -->
					<div class="clearfix"></div>
					<pagination (pageChanged)="changePage($event)" *ngIf="pagination" [pagination]="pagination">
					</pagination>
					<!-- Pagination / End -->
				</div>
				<!-- Sidebar-->
				<div class="col-lg-3 col-md-4">
					<div class="sidebar">
						<div class="row mb-5">
							<div class="col-lg-12 col-sm-12">
								<div class="form-group">
									<input type="text" placeholder="Search" class="form-control form-control-alternative"
										[(ngModel)]="searchTxt" name="search">
								</div>
							</div>

							<div class="col-lg-12 col-sm-12">
								<button class="btn btn-primary" type="button" (click)="filter()">Filter</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Sidebar / End -->
			</div>
		</div>
	</div>
</div>