<div class="block-space bg-secondary">
	<div class="block-head text-center mb-5">
		<h2 class="head-line display-3">
			{{title}}
		</h2>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="row row-grid">
					<div class="col-lg-4" *ngFor="let watchlist of data">
						<div class="card card-lift--hover shadow border-0">
							<img class="img-fluid" style="width: 100%; height: 160px;"
								src="{{watchlist.image != null ? watchlist.image : '../../assets/images/image-not-found.jpg'}}"
								alt="">
							<div class="card-body py-4">
								<h5>{{watchlist.title}}</h5>
								<p class="text-muted">{{watchlist.date}}</p>
								<p class="description mb-4">{{watchlist.desc}}</p>
								<a [routerLink]="['/watchlist', watchlist.id]" class="btn btn-primary">View</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>