<div class="main-wrapper mt-5" *ngIf="user">
	<div class="content pt-5">
		<!-- Container -->
		<div class="container mt-3">
			<div class="row">
				<div class="col-lg-12">
					<div id="add-listing" class="separated-form">
						<!-- Section -->
						<div class="add-listing-section mb-4">
							<!-- Headline -->
							<div class="add-listing-headline">
								<h3>Basic Informations</h3>
							</div>
							<!-- First Name -->
							<div class="row with-forms">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" placeholder="First Name" class="form-control form-control-alternative" [(ngModel)]="userToSave.firstName">
									</div>
								</div>
							</div>
							<!-- Last Name -->
							<div class="row with-forms">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" placeholder="Last Name" class="form-control form-control-alternative" [(ngModel)]="userToSave.lastName">
									</div>
								</div>
							</div>
							<!-- Interests -->
							<div class="row with-forms">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" placeholder="Interests" class="form-control form-control-alternative" [(ngModel)]="userToSave.interests">
									</div>
								</div>
							</div>
						<!-- Role -->
						<div class="row with-forms" *ngIf="roles">
							<div class="col-md-12">
								<label class="ml-1">Role</label>
								<select disabled multiple class="custom-select form-control-alternative mb-3" [(ngModel)]="userToSave.roleIds" name="role">
									<option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
								</select>
							</div>
						</div>
						</div>						
						<!-- Section / End -->

						<!-- Section -->
						<div class="add-listing-section mb-4">
							<!-- Headline -->
							<div class="add-listing-headline">
								<h3>Photos</h3>
							</div>
							<app-photo-editor [entityTypeId]="entityTypeId" [entityId]="user['id']" [photos]="userToSave.photos"></app-photo-editor>
						</div>						
						<!-- Section / End -->
						<button 
							class="btn btn-lg btn-primary mt-4 mb-5" 
							type="button" 
							[disabled]="!userToSave.firstName||!userToSave.lastName" 
							(click)="save()"
						>Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>