<br>
<div class="main-wrapper">
	<!-- Content -->
	<div id="content">
		<div class="container mb-5">
			<div class="profile-page">
				<div class="card card-profile shadow">
					<br>
					<div class="pb-5">
						<div class="px-4" style="text-align: center;">
							<h3>My Friends</h3>
						</div>
						<div class="row p-4 list-img-wrap" *ngFor="let friend of friends">
							<div class="col-md-2 list-img">
								<img *ngIf="friend.mainPhoto" [src]="friend.mainPhoto.url" class="img-fluid rounded-circle shadow-lg">
							</div>
							<div class="col-md-10">
								<h5 style="cursor: pointer;" [routerLink]="['/user', friend.id]" routerLinkActive="router-link-active"  class="text-primary">{{friend.firstName + " " + friend.lastName}}</h5>
								<p>{{friend.username}}</p>
							</div>
						</div>
						<div class="px-4">
							<pagination (pageChanged)="changePage($event)" *ngIf="pagination" [pagination]="pagination"></pagination>
						</div>					
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>