<div class="main-wrapper">
	<!-- Content -->
	<div id="content">
		<div class="container mb-5">
			<div class="profile-page">
				<div class="card card-profile shadow">
					<br>
					<div class="pb-5">
 						<!-- TODO: move to css -->
						<div class="px-4" style="text-align: center;">
							<h3>My Watchlists</h3>
						</div>
						<!-- TODO: move to css -->
						<div class="px-4" style="text-align: right;">
							<span [routerLink]="['/watchlist-editor']" class="btn btn-primary">Add new <i class="fa fa-plus"></i></span>
						</div>
						<div class="row p-4 list-img-wrap" *ngFor="let watchlist of watchlists">
							<div class="col-md-2 list-img">
								<img *ngIf="watchlist.mainPhoto" [src]="watchlist.mainPhoto.url" class="img-fluid rounded-circle shadow-lg">
							</div>
							<div class="col-md-10">
								<h5 class="text-primary">{{watchlist.title}}</h5>
								<p>{{watchlist.description}}</p>
								<button class="btn btn-sm btn-primary" type="button" [routerLink]="['/watchlist-editor', watchlist.id]">Edit</button>
								<button class="btn btn-sm btn-danger" type="button" (click)="delete(watchlist.id)">Remove</button>
							</div>
						</div>
						<div class="px-4">
							<pagination (pageChanged)="changePage($event)" *ngIf="pagination" [pagination]="pagination"></pagination>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>