<div class="db-admin">
   <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
         <ul data-submenu-title="Main">
			<li><a [routerLink]="['/admin/film-list']"><i class="fa fa-video-camera"></i> Films</a></li>
			<li><a [routerLink]="['/admin/participant-list']"><i class="fa fa-users"></i> Film Participants</a></li>
			<li *ngIf="hasRole(['Admin'])"><a [routerLink]="['/admin/user-list']"><i class="fa fa-user"></i> Users</a></li>
         </ul>
      </div>
   </div>
</div>
<a class="db-trigger" (click)="toggleMenu()">
<i class="fa fa-reorder"></i>
</a>

