<!-- Banner -->
<banner-version1 [title]="bannerTitle" [desc]="bannerDesc" [bgImageUrl]="bannerImage"></banner-version1>

<!-- <popular-categories title="Popular Movies" desc="Browse the most desirable categories" [data]="categories"></popular-categories> -->
<popular-categories title="Popular Movies" desc="Browse the most desirable categories" [data]="moviesForCarousel"></popular-categories>

<popular-categories title="Popular TV Shows" desc="Browse the most desirable categories" [data]="tvShowsForCarousel"></popular-categories>

<!-- Recent Blog Posts -->
<recent-blog [title]="recentBlogTitle" [data]="blogs"></recent-blog>